extends layout

block content
    h1= title
    br
    ul#menu
      li 
        b Welcome to employee's search
      li
        a(href="/admin") Adminstrator
    
    h1(align="center") Buscador
    .form-group.form-group-lg
      .col-sm-4
      .col-sm-4
        input#search.form-control.center(type='text', placeholder='Busqueda')
      .col-sm-4
    .row
      .col-sm-2
      .col-sm-6
        p Resultados: 
            spam#total 0
        div#resultados
      .col-sm-2
    

    script.
        $(document).ready(function(){
            $('input#search').keyup(function(){
                var val = $(this).val();
                console.log(val);
                if(val == ''){$('#resultados').html('');}
                $('#total').html('');
                $.ajax( "http://localhost:3200/employees/search/"+val).done(function(data){
                    $('#total').append(data.length);
                    $('#resultados').html('');
                    $.each(data, function(index, doc){
                        console.log(doc);
                        $('#resultados').append('<p>'+doc.name+'</p>');
                    });
                });
            });
        });
      