extends layout

block content
    ul#menu
      li 
        b Welcome to employee's search
      li
        a(href="/admin") Adminstrator
    br
    .row
      .col-sm-3
      .col-sm-6
        h1(align="center") Search
        br
        .form-group.form-group-lg
            input#search.form-control.center(type='text', placeholder='Busqueda')
      .col-sm-3
    .row
      .col-sm-1
      .col-sm-10
        p Resultados: 
            spam#total 0
        div#resultados
      .col-sm-1
        

    script.
        $(document).ready(function(){
            $('input#search').keyup(function(){
                var val = $(this).val();
                console.log(val);
                if(val == ''){$('#resultados').html('');}
                $('#total').html('');
                $.ajax( "http://localhost:3200/employees/search/"+val).done(function(data){
                    $('#total').append(data.length);
                    $('#resultados').html('');
                    $.each(data, function(index, doc){
                        console.log(doc);
                        //$('#resultados').append('<p>'+doc.name+'</p>');
                        $('#resultados').append('<div class="col-sm-4"><div class="thumbnail"><div class="caption"><h4><b>Name:</b> '+doc.name+'</h4><p><b>Last Name:</b> '+doc.lastName+'</p><p><b>Email:</b> '+doc.email+'</p></div></div></div>');
                    });
                });
            });
        });
      