extends layout

block content
  .row
    br
    br
    .col-sm-4
    .col-sm-4
      h1.center= title
      form(action='',method='post')
        div.center
          label(for='name') Name:
          input(type='text', name='name', id='name', placeholder='Name here...', required='')
        div.center
          label(for='lastName') Last Name:
          input(type='text', name='lastName', id='lastName', placeholder='Last Name here...', required='')
        div.center
          label(for='email') Email:
          input(type='email', name='email', id='email', placeholder='Email...', required='')
        div.center
          label(for='password') Password:
          input(type='password', name='password', id='password', placeholder='Password...', required='')
        div.center
          label(for='confirm') Confirm:
          input(type='password', name='confirm', id='confirm', placeholder='Confirm...', required='')
        div.center
          input(type='submit', value='Save')
        br
        -if(error){
        p.bg-danger Error to confirm password, please try again!
        -}
    .col-sm-4
  style.
    form label { min-width: 80px; display: inline-block; }
    form > div { padding: 5px; }